<div class="row">
  <div class="col-xs-12">
    <img
      src="https://placehold.jp/3d4070/ffffff/150x150.png?text=recipe_03"
      alt=""
      class="img-responsive" />
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>Recipe Name</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle">
          Manage <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#" class="">To Shoping List</a></li>
          <li><a href="#" class="">Edit Recipe</a></li>
          <li><a href="#" class="">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">Description</div>
  </div>
  <div class="row">
    <div class="col-xs-12">Ingredients</div>
  </div>
</div>
